### Java/Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mtj.tmp/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
*.code-workspace

### MacOS (Importante para você!) ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Logs e Temporários ###
*.log
logs/
temp/
tmp/


